cache
.doit.db
__pycache__
output
DB.db
\#*
CHG
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
INCAR
KPOINTS
METADATA
OSZICAR
OUTCAR
PCDAT
POSCAR
POTCAR
PROCAR
vasprun.xml
XDATCAR
ase-sort.dat
CHGCAR
WAVECAR
*.o[0-9]*
*.OU
DYNMAT
jobid
.#*