POTCAR
CHG*
WAVECAR
*.o[0-9]*
*~
archive
test
*.idx
*.ilg
*.ind
*.lof
*.lot
*.toc
*.out
*.aux
*.bbl
*.blg
*.log
blog/gh-pages
*.pyc
bulk
surfaces
molecules
ltxpnggh-pages
gh-pages
ltxpng
/auto/dft.el
/dft.brf
/dft.tex
/mk4ht.cfg
/topics-to-discuss.org
/.DS_Store
/dft.pyg
