NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ('/index.html', 'Home', 'icon-home'),
        ('/archive.html', 'Archives', 'icon-folder-open-alt'),
        ('/categories/index.html', 'Tags', 'icon-tags'),
        ('/rss.xml', 'RSS', 'icon-rss'),
        ('https://getnikola.com', 'About me', 'icon-user'),
        ('https://twitter.com/getnikola', 'My Twitter', 'icon-twitter'),
        ('https://github.com/getnikola', 'My Github', 'icon-github'),
    )
}
